<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <!--<machineKey
      validationKey="1234567890"
      decryptionKey="1234567890"
      validation="SHA1" decryption="AES"/>-->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>
    </system.web>

  <connectionStrings>
    <add name="connectionStringName" connectionString="Data Source=0.0.0.0\SQL2014,780;uid=sqlUser;pwd=sqlPassword;Initial Catalog=databaseName" />
    <add name="computerConnString" connectionString="Data Source=LocalComputerForTestion; Initial Catalog=databaseName; Integrated Security=True"
      providerName="System.Data.SQLClient" />
  </connectionStrings>

</configuration>
